@import './common/var.css';
@import './common/element-ui.css';
@import './loading.css';
body,
div,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
ul {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box; /* Firefox3.5+ */
    -webkit-box-sizing: border-box; /* Safari3.2+ */
    -o-box-sizing: border-box; /* Opera9.6 */
    -ms-box-sizing: border-box; /* IE8 */
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: var(--con-size);
}
body {
    font-family: Microsoft Yahei, Helvetica Neue, Arial, Pingfang SC, sans-serif;
}

html {
    box-sizing: border-box;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

/*.fade-enter-active,*/
/*.fade-leave-active {*/
    /*transition: all 0.2s ease;*/
/*}*/

/*.fade-enter,*/
/*.fade-leave-active {*/
    /*opacity: 0;*/
/*}*/
.fade-enter {
    opacity: 1;
}
.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s;
}
.fade-enter {
    opacity: 0;
    transform: translateX(-30px);
}
.fade-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
/** 滚动条样式 **/
::-webkit-scrollbar {
    width: 4px;
    height:4px;
    transform: rotate(-360deg);
}
::-webkit-scrollbar-track {
    border-radius: 6px;
    background: rgba(0,164,255,0.20);
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0,164,255,0.50);
}

/*::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(38, 140, 198, 1);
}*/
@font-face {
    font-family: 'lcdD';
    src: url('../fonts/LcdD.woff') format('woff'), url('../fonts/LcdD.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}