/*覆盖弹窗的样式开始*/
.el-dialog{
    margin-bottom:0;
    margin-top: 6vh!important;
}
.el-dialog__headerbtn {
    position: absolute;
    right: 22px;
    top: 0;
    z-index:1;
    height: 40px;
    line-height: 40px;
}
.el-dialog,
.el-dialog--small {
    border: 1px solid rgb(71, 130, 209);
    background: rgba(16,42,74,1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    /* box-shadow: rgb(71, 130, 209) 0px 0px 10px inset;
    background: #03121f; */
    /* position: relative; */
}
.el-dialog--small {
    /* width: 61%; */
}
.el-dialog--full {
    /* width: 99%; */
    top: 1%;
    margin-bottom: 0;
    height: 98%;
    overflow: auto;
}
.ga-taskDetail__body-taskSection2 .el-loading-mask {
    z-index: 1000;
}
.el-dialog__header {
    text-align: center;
}
.el-dialog__close.el-icon-close:before{
    font-size: 18px;
}
.el-dialog__body {
    color:var(--main-color);
    padding: 20px 20px 5px 20px;
}
.el-dialog__footer {
    text-align: center;
}
.multiPath-dialog .el-dialog--large {
    /* width: 95%; */
    height: 90%;
}
.multiPath-dialog .el-dialog__body {
    height: calc(100% - 39px);
    padding-top: 10px;
}
.multiPath-dialog .el-dialog__header {
    text-align: left;
}
.multiPath-dialog .el-dialog__title {
    color: #fff;
}
.dialogMap .el-dialog {
    left: 0px;
    right: 0px;
    margin: auto;
    transform: none;
}
.multiPath-tableRowBtn .current-row .operateBtn span:hover {
    color: #20a0ff;
}
/* 减轻checkbox，select点击的时候对dialog的影响，
主要针对目标短信查询 */
.ga-tarMsg .el-dialog--large{
    /* width: 90%; */
    left: 50%;
    margin-left: calc(-90%*0.5);
    transform: translateX(0);
}
/* 预警导出弹窗*/
.warningDialogExport .el-dialog--small {
    width: 70%;
}
.realTimeSearch-dialog .el-dialog--tiny {
    width:35%;
}
.realTimeSearch-dialog .el-dialog__footer {
    padding: 0;
}
/*人物画像*/
.figurePortrait .el-dialog {
    margin-top:1% !important;
    /* width: 75%; */
}
/* --------------------------------------------------message提示框样式 */
.el-message,
.el-notification{
    background: #0F3466;
    border: 1px solid #1874F0;
    box-shadow: 0 0 16px 0 rgba(0,164,255,0.60);
    border-radius: 6px;
}
.el-message .el-message__content,
.el-notification__content{
    color:#fff;
}
.el-message .el-message__icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}
.el-message .el-icon-warning{
    color: rgba(223,203,0,1);
}
.el-message .el-icon-success{
    color: rgba(0,189,102,1);
}
.el-message .el-icon-error{
    color: rgba(223,25,10,1);
}
.el-message .el-icon-warning:before,
.el-message .el-icon-success:before,
.el-message .el-icon-error:before,
.el-icon-info:before{
    font-size: 24px;
    position: relative;
    left: -2px;
    top: -2px;
}
.el-notification {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
}
/* .el-notification__title {
    color: var(--font-color);
}
.el-notification__closeBtn {
    color: var(--font-color);
} */
/* .el-message-box__wrapper .el-message-box__status .el-icon-warning {
    color: var(--font-color) !important;
} */
.el-message-box{
    width:320px;
}
.el-message-box__header,
.el-message-box--center .el-message-box__header{
    padding:0;
}
.el-message-box--center{
    padding-bottom: 12px;
}
.el-message-box__title {
    color: var(--main-color);
    font-size: 14px;
}
.el-message-box {
    /* background-color: var(--bg-color); */
    /* color: var(--font-color);
    border: 1px solid rgba(0, 246, 255, 0.8) !important; */
    color: var(--main-color);
    border: 1px solid rgba(60,164,255,1);
    overflow: inherit;
    position: relative;
    background: rgba(16,42,74,0.90);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
.el-message-box__title {
    color: var(--main-color);
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding-left: 12px;
    background: rgba(27,117,184,0.20);
    box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.10);
    /* color: var(--font-color); */
}
.el-message-box__headerbtn{
    top: 7px;
    z-index:1;
}
.el-message-box__content {
    color: var(--font-color);
    /* text-align: center; */
}
.el-message-box__wrapper .el-button {
    display: inline-block;
    line-height: 1px;
    height: 26px;
    white-space: nowrap;
    cursor: pointer;
    /* background-color: var(--bg-color);
    border: 1px solid #00a2ff; */
    color: #fff;
    margin: 0;
    padding: 10px 15px;
    border-radius: 4px;
}
.el-message-box__wrapper .el-message-box__close {
    color: var(--font-color);
}
.el-message-box__btns{
    /* text-align: center; */
}
/* 带图标的提示信息 */
.el-message-box--center .el-message-box__content{
    padding-top:60px;
}
.el-message-box--center .el-message-box__title>span{
    position: absolute;
    left: 12px;
}
.el-message-box--center .el-message-box__status{
    position: absolute;
    top:50px;
    font-size: 36px!important;
}
.el-message-box__status.el-icon-warning {
    color: rgba(249,231,44,1);
}
.el-message-box__status.el-icon-error {
    color: rgba(249,59,44,1);
}
.el-message-box__status.el-icon-success {
    color: rgba(0,255,191,1);
}
.el-message-box__header:before,
.el-message-box__header:after,
.el-message-box:before,
.el-message-box:after{
    content:'';
    position: absolute;
}
.el-message-box__header:before{
    width: 89px;
    height: 51px;
    background: url('~@/assets/images/common/leftTop.png') no-repeat;
    top: -3px;
    left: -3px;
}
.el-message-box__header:after{
    width: 32px;
    height: 51px;
    background: url('~@/assets/images/common/rightTop.png') no-repeat;
    top: -3px;
    right: -3px;
}
.el-message-box:before{
    width: 33px;
    height: 45px;
    background: url('~@/assets/images/common/leftBot.png') no-repeat;
    bottom: -3px;
    left: -3px;
}
.el-message-box:after{
    width: 89px;
    height: 53px;
    background: url('~@/assets/images/common/rightBot.png') no-repeat;
    bottom: -3px;
    right: -5px;
}
/* 背景模糊 */
.v-modal{
    opacity:0.7;
    /* filter: blur(2px); */
    /* background: rgb(25, 20, 30); */
}